<!-- incluir encabezado -->
{% include 'encabezado.html' %}

<div>
  {% if datos %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Accion</th>
      </tr>
    
    </thead>
    <tbody>
      {% for dato in datos %}
        <tr> 
          <td>{{dato.nombre}}</td>
          <td>{{dato.apellido}}</td>
          <td>{{dato.telefono}}</td>
          <td>{{dato.correo}}</td>
          <td><a href="/personas_actualizar01/?id={{dato.id}}" class="btn btn-danger">Actualizar </a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
  {% else %}
  <div class="alert alert-info">,<strong>Atencion:</strong>No hay datos para procesar</div>
  {% endif %}
</div>
<!-- incluir pie -->
{% include 'pie.html' %}