
        {% if mensaje %}
            {% if tipo == 1 %}
                <div class='alert alert-success'>
                    <strong>Atencion:</strong>{{ mensaje }}
                </div>     
            {% endif %}
            {% if tipo == 2 %}
                <div class='alert alert-danger'>
                    <strong>Atencion:</strong>{{ mensaje }}
                </div>     
            {% endif %}
            {% if tipo == 3 %}
                <div class='alert alert-warning'>
                    <strong>Alerta:</strong>{{ mensaje }}
                </div>     
            {% endif %}

            {% endif %} 

                       
        </div>
    </body>
</html>