<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plantilla HTML</h1>
    <p>Contenido a mostrar: Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet suscipit odit quasi veniam? Natus libero iste ab ratione, delectus dolore commodi perferendis voluptas atque voluptatem vitae quisquam consectetur voluptatibus rem suscipit consequuntur doloribus voluptate quidem, laborum impedit blanditiis, nesciunt assumenda aliquid. Similique at quidem earum cupiditate asperiores cumque quisquam facere!</p>
</body>
</html>