<!-- incluir encabezado -->
{% include 'encabezado.html' %}

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{dato.nombre}}</td>
                    <td>{{dato.apellido}}</td>
                    <td>{{dato.telefono}}</td>
                    <td>{{dato.correo}}</td>
                    <td><button class="btn btn btn-warning">Borrar</button></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<!-- incluir pie -->
{% include 'pie.html' %}