<!-- incluir encabezado -->
{% include 'encabezado.html' %}

<div>
    <p id="parrafo1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam at incidunt quis porro commodi ipsum tenetur obcaecati, consequatur nostrum odit architecto, repellat accusantium, dicta voluptatum natus sint laborum dolores sit adipisci tempore nulla. Expedita qui necessitatibus laudantium molestiae praesentium cumque quasi sint. Repudiandae numquam voluptatibus eveniet voluptas, autem eius aliquam!
    </p>
    <!--
        Antes de usar jQuery
    <button class="btn btn-success" onclick="mostrarContenido()">Mostrar contenido</button>
    -->
    <!-- Usando jQuery-->
    <button id="btnMostrar" class="btn btn-success">Mostrar contenido</button>
    <button id="btnObtener" class="btn btn-warning">Obtener data JSON</button>
    <div id="resultado"></div>
</div>

<!-- incluir pie -->
{% include 'pie.html' %}



