<!-- incluir encabezado -->
{% include 'encabezado.html' %}

<div>
  {% if datos%}
  {% csrf_token %}
  <table class="table table-bordered table-hover">
    
      <thead>
      <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Correo</th>
         <th>Telefono</th>
         
        </tr>
         </thead>

    </thead>
     
    <tbody>
      {%for dato in datos %}
      <tr>
      <td>{{dato.nombre}}</td>
      <td>{{dato.apellido}}</td>
      <td>{{dato.correo}}</td>
      <td>{{dato.telefono}}</td>
      
    </tr>
    {%endfor%}
    </tbody>
    

  </table>
  {%else%}
  <div class="alert alert-info"><strong>Atención: </strong>No hay contactos registrados.</div>

  {%endif%}


    
  </div>
<!-- incluir pie -->
{% include 'pie.html' %}